thead tr :nth-child(odd) {
   background-color: rgb(0, 255, 179);
}

thead tr :nth-child(even) {
    background-color: rgb(0, 255, 179);
 }
 

table{
    border-style: double;
    background-color: grey;
    border-spacing: 12px;
    
}

tbody tr :nth-child(odd){
    background-color: orange;
    border-spacing: inherit;
}


tbody tr :nth-child(even){
    background-color: orange;
    border-spacing: inherit;
}
 td{
    padding: 4px; 
    border-style: groove;
  }